<div class="container">
    <form [formGroup]="formGroup" autocomplete="off">
        <div class="d-flex">
            <mat-form-field appearance="fill">
                <mat-label>Usuario asignado</mat-label>
                <mat-select formControlName="assignedUserId" (selectionChange)="onUserChange()">
                    <mat-option value="">TODOS LOS USUARIOS</mat-option>
                    @for (user of users; track user._id) {
                    <mat-option [value]="user._id">{{ user.name | uppercase }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Objeto de contratacion</mat-label>
                <mat-select formControlName="objectContract" (selectionChange)="onObjectContractChange()">
                    <mat-option value="">TODOS LOS OBJETOS</mat-option>
                    <mat-option value="Obra">OBRA</mat-option>
                    <mat-option value="Consultoría de Obra">CONSULTORIA DE OBRA</mat-option>
                    <mat-option value="Bien">BIEN</mat-option>
                    <mat-option value="Servicio">SERVICIO</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
    <div class="mat-elevation-z2">
        <table mat-table [dataSource]="dataSource" class="w-100">
            <ng-container matColumnDef="publishedAt">
                <th mat-header-cell *matHeaderCellDef>Fecha convocacion</th>
                <td mat-cell *matCellDef="let element">{{ element.seace.publishedAt | date }}</td>
            </ng-container>
            <ng-container matColumnDef="adjudicatedAt">
                <th mat-header-cell *matHeaderCellDef>Fecha adjucacion</th>
                <td mat-cell *matCellDef="let element">{{ element.seace.adjudicatedAt | date }}</td>
            </ng-container>
            <ng-container matColumnDef="idProcess">
                <th mat-header-cell *matHeaderCellDef>ID convocatoria</th>
                <td mat-cell *matCellDef="let element">{{ element.seace.idProcess }}</td>
            </ng-container>
            <ng-container matColumnDef="nomenclature">
                <th mat-header-cell *matHeaderCellDef>Nomenclatura</th>
                <td mat-cell *matCellDef="let element">
                    <div class="d-flex align-items-center">
                        {{ element.seace.nomenclature }}
                        <button mat-icon-button type="button" (click)="onClickCopy()"
                            [cdkCopyToClipboard]="element.seace.nomenclature">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="referenceValue">
                <th mat-header-cell *matHeaderCellDef>Valor referencial</th>
                <td mat-cell *matCellDef="let element">{{ element.seace.referenceValue }}</td>
            </ng-container>
            <ng-container matColumnDef="objectContract">
                <th mat-header-cell *matHeaderCellDef>Objeto contratacion</th>
                <td mat-cell *matCellDef="let element">{{ element.seace.objectContract }}</td>
            </ng-container>
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let element">{{ element.seace.state }}</td>
            </ng-container>
            <ng-container matColumnDef="department">
                <th mat-header-cell *matHeaderCellDef>Departamento</th>
                <td mat-cell *matCellDef="let element">{{ element.seace.department }}</td>
            </ng-container>
            <ng-container matColumnDef="beneficiarie">
                <th mat-header-cell *matHeaderCellDef>Beneficiario</th>
                <td mat-cell *matCellDef="let element" class="truncate-cell">{{ element.seace.convener }}</td>
            </ng-container>
            <ng-container matColumnDef="assignedUser">
                <th mat-header-cell *matHeaderCellDef>Usuario asignado</th>
                <td mat-cell *matCellDef="let element" [ngClass]="{ 'text-muted': !element.assignedUser }">{{ element.assignedUser?.firstName || 'NINGUNO' | uppercase }}</td>
            </ng-container>
            <ng-container matColumnDef="observations">
                <th mat-header-cell *matHeaderCellDef>Observaciones</th>
                <td mat-cell *matCellDef="let element" [ngClass]="{ 'text-muted': !element.observations }">{{ element.observations || 'NINGUNO' }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="more options">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button type="button" (click)="onDialogDetails(element.seace._id)" mat-menu-item>
                            <mat-icon>info</mat-icon>
                            <span>Detalles</span>
                        </button>
                        <button type="button" (click)="onDialogEdit(element._id)" mat-menu-item>
                            <mat-icon>bookmark</mat-icon>
                            <span>Segimiento</span>
                        </button>
                        <button type="button" (click)="onDeleteFollowup(element._id)" mat-menu-item>
                            <mat-icon>archive</mat-icon>
                            <span>Archivar</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [style.background]="row.color"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex"
            [length]="length" (page)="handlePageEvent($event)" showFirstLastButtons></mat-paginator>
    </div>
</div>