<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
        <mat-list class="mb-3">
            <h2 class="mat-title-medium">Fianzas</h2>
            @for (guarantee of guaranties; track $index; let i = $index) {
                <mat-list-item>
                    @if (guarantee.guaranteeType === 'GAMF') {
                        <span matListItemTitle>ADELANTO DE MATERIALES</span>
                    }
                    @if (guarantee.guaranteeType === 'GADF') {
                        <span matListItemTitle>ADELANTO DIRECTO</span>
                    }
                    @if (guarantee.guaranteeType === 'GFCF') {
                        <span matListItemTitle>FIEL CUMPLIMIENTO</span>
                    }
                    @if (guarantee.guaranteeType === 'GAOS') {
                        <span matListItemTitle>SERIEDAD EN LA OFERTA</span>
                    }
                    @if (guarantee.guaranteeType === 'GFWE') {
                        <span matListItemTitle>GARANTIA DE BUENA EJECUCION DE OBRA</span>
                    }
                    <span matListItemLine>Monto: {{ guarantee.amount }}</span>
                    <span>Plazo: {{ guarantee.daysLimit }}</span>
                    <div matListItemMeta class="h-100 d-flex align-items-center">
                        <button type="button" mat-icon-button (click)="onDialogEditGuarantee(guarantee, i)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button type="button" mat-icon-button (click)="onRemoveGuarantee(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            }
        </mat-list>
        <button type="button" mat-flat-button color="primary" class="w-100 mb-3" [disabled]="isLoading"
            (click)="onDialogCreateGuaranties()">AGREGAR FIANZA</button>
        <mat-form-field appearance="fill">
            <mat-label>Descripcion del objeto</mat-label>
            <input type="text" matInput formControlName="objectDescription">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Fecha de inicio</mat-label>
            <input matInput [matDatepicker]="startDatePicker" formControlName="startAt">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Plazo de ejecucion de la obra (en dias)</mat-label>
            <input type="number" matInput formControlName="daysLimit">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Lugar de ejecucion</mat-label>
            <input type="text" matInput formControlName="executionPlace">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Presupuesto base</mat-label>
            <input type="number" matInput formControlName="baseBudget">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Monto del contrato</mat-label>
            <input type="number" matInput formControlName="contractAmount">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Nombre del depositante</mat-label>
            <input type="text" matInput formControlName="depositorName">
        </mat-form-field>
        <div formGroupName="beneficiary">
            <mat-form-field appearance="fill">
                <mat-label>Beneficiario</mat-label>
                <input type="text" matInput formControlName="name" (click)="onDialogSearchBeneficiaries()" readonly>
            </mat-form-field>
        </div>
        <div formGroupName="partnership">
            <mat-form-field appearance="fill">
                <mat-label>Consorcio</mat-label>
                <input type="text" matInput formControlName="name" (click)="onDialogSearchPartnerships()" readonly>
            </mat-form-field>
        </div>
        <div formGroupName="business">
            <mat-form-field appearance="fill">
                <mat-label>Operador tributario</mat-label>
                <input type="text" matInput formControlName="name" (click)="onDialogSearchBusinesses()" readonly>
            </mat-form-field>
        </div>
        <mat-list class="mb-3">
            <h2 class="mat-title-medium">Empresas consorsiadas</h2>
            @for (partnershipItem of partnershipItems; track $index; let i = $index) {
                <mat-list-item>
                    <span matListItemTitle>{{ partnershipItem.business.name | uppercase }}</span>
                    <span matListItemLine>{{ partnershipItem.business.document }}</span>
                    <span>{{ partnershipItem.business.observations }}</span>
                </mat-list-item>
            } @empty {
                <mat-list-item>
                    <p class="text-muted text-center">NINGUNO</p>
                </mat-list-item>
            }
        </mat-list>
        <div class="d-flex">
            <span class="spacer"></span>
            <button type="button" mat-raised-button color="primary" routerLink="/templates"
                class="mr-2">CANCELAR</button>
            <div class="divider"></div>
            <button type="submit" mat-flat-button color="primary">GUARDAR</button>
        </div>
    </form>
</div>