@if (isloadBar) {
    <div class="progress-bar">
        <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
    </div>
}
@if (isDebtor) {
    <div class="d-flex align-items-center bg-warning">
        <p class="mat-title-medium mb-0 ml-5">Es necesario renovar la suscripcion</p>
        <span class="divider"></span>
        <a [href]="'https://licitamas.com/checkouts?groupId=' + groupId" mat-button>RENOVAR</a>
    </div>
}
<mat-toolbar>
    <span class="px-1"></span>
    <span>{{ title }}</span>
    <span class="spacer"></span>
    <form autocomplete="off" class="mr-2 d-inline search-input" (ngSubmit)="onSubmit()" [formGroup]="formGroup">
        @if (showSearch && showInputSearch) {
        <mat-form-field appearance="outline">
            <input #inputKey matInput type="text" placeholder="Buscar" formControlName="key">
            <button type="button" matSuffix mat-icon-button aria-label="close" (click)="onCloseInputSearch()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        }
    </form>
    @if (!showInputSearch && showSearch) {
    <button type="button" mat-icon-button aria-label="Mat menu" (click)="showInputSearch = true; onToggleSearch()">
        <mat-icon>search</mat-icon>
    </button>
    }
    @for(menu of buttons; track $index) {
    <button type="button" mat-icon-button (click)="onClickMenu(menu.id)">
        <mat-icon>{{ menu.icon }}</mat-icon>
    </button>
    }
    @if (menus.length) {
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    }
    <mat-menu #menu="matMenu">
        @for (menu of menus; track $index) {
        <button mat-menu-item (click)="onClickMenu(menu.id)">
            <mat-icon>{{ menu.icon }}</mat-icon>
            <span>{{ menu.label }}</span>
        </button>
        }
    </mat-menu>
</mat-toolbar>