<div class="container">
    <div class="mat-elevation-z2">
        <table mat-table [dataSource]="dataSource" class="w-100">
            <ng-container matColumnDef="publishedAt">
                <th mat-header-cell *matHeaderCellDef>Fecha convocacion</th>
                <td mat-cell *matCellDef="let element">{{ element.seace.publishedAt | date }}</td>
            </ng-container>
            <ng-container matColumnDef="adjudicatedAt">
                <th mat-header-cell *matHeaderCellDef>Fecha adjucacion</th>
                <td mat-cell *matCellDef="let element">{{ element.seace.adjudicatedAt | date }}</td>
            </ng-container>
            <ng-container matColumnDef="idProcess">
                <th mat-header-cell *matHeaderCellDef>ID Convocatoria</th>
                <td mat-cell *matCellDef="let element">{{ element.seace.idProcess }}</td>
            </ng-container>
            <ng-container matColumnDef="beneficiarie">
                <th mat-header-cell *matHeaderCellDef>Beneficiario</th>
                <td mat-cell *matCellDef="let element">{{ element.seace.convener }}</td>
            </ng-container>
            <ng-container matColumnDef="assignedUser">
                <th mat-header-cell *matHeaderCellDef>Usuario</th>
                <td mat-cell *matCellDef="let element">{{ element.assignedUser.name | uppercase }}</td>
            </ng-container>
            <ng-container matColumnDef="observations">
                <th mat-header-cell *matHeaderCellDef>Observaciones</th>
                <td mat-cell *matCellDef="let element" [ngClass]="{ 'text-muted': !element.observations }">{{ element.observations || 'NINGUNO' }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="text-right">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <!-- <button [routerLink]="['/followups', element._id, 'edit']" mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Editar</span>
                        </button> -->
                        <button type="button" (click)="onRestoreFollowup(element)" mat-menu-item>
                            <mat-icon>restore</mat-icon>
                            <span>Restablecer</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex"
            [length]="length" (page)="handlePageEvent($event)" showFirstLastButtons></mat-paginator>
    </div>
    <!-- <div class="fixed-bottom px-4" style="right: 0; left: unset; width: auto;">
        <button mat-fab color="primary" class="float-right" routerLink="/users/create">
            <mat-icon>add</mat-icon>
        </button>
    </div> -->
</div>