<section class="container">
    <h2 class="m-0 text-center text-capitalize mat-title-large">{{ user.name }}</h2>
    <p class="text-muted text-center">{{ user.email }}</p>
    <!-- <div class="d-flex">
        <div *ngFor="let business of businesses" class="w-100 mx-2">
            <h2 class="text-center mat-title-large">{{ business.businessName | uppercase }}</h2>
            <button type="button" mat-flat-button color="primary" class="w-100 mb-3"
                *ngFor="let office of business.offices" (click)="onBusinessOfficeSelected(business, office)">
                {{ office.name | uppercase }}
            </button>
        </div>
    </div> -->
    <div class="mx-2">
        <button type="submit" mat-raised-button color="primary" class="w-100" (click)="onLogout()">
            CERRAR SESION
        </button>
    </div>
</section>